<h2>Bienvenido {{user.first_name}}!!</h2>
<h4>Tu email es: {{user.email}}</h4>
<h4>Rol: {{user.role}}</h4>

{{#if products}}

{{#each products}}
<div>
    <h3>{{title}}</h3>
    <p>Price: {{price}}</p>
    <p>Stock: {{stock}}</p>
</div>
{{/each}}

{{else}}
<p>No products</p>
{{/if}}

<button><a href="/api/sessions/signout">SIGNOUT</a></button>